In [1]:
print("hi")

hi

In [2]:
import numpy as np

In [5]:
help(numpy)

NameError: name 'numpy' is not defined

In [7]:
np.([3,4],[4,5])

SyntaxError: invalid syntax (2750906345.py, line 1)

In [8]:
a=[3 4]
b=[5 6]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (507336444.py, line 1)

In [9]:
a+b

NameError: name 'a' is not defined

In [10]:
np.add(a,b)

NameError: name 'a' is not defined

In [22]:
a=[3, 4,6]
b=[5, 6,7]
np.add(a,b)

array([ 8, 10, 13])

In [21]:
np.multiply(a,b)

ValueError: operands could not be broadcast together with shapes (2,) (3,)

In [25]:
np.array(1,2,4)

TypeError: array() takes from 1 to 2 positional arguments but 3 were given

In [35]:
a=np.array([[1,2,3],[3,4,1],[3,4,5]])

In [36]:
a

array([[1, 2, 3],
       [3, 4, 1],
       [3, 4, 5]])

In [37]:
type(a)

numpy.ndarray

In [38]:
size(a)

NameError: name 'size' is not defined

In [39]:
a.size()

TypeError: 'int' object is not callable

In [40]:
a.dtype

dtype('int32')

In [43]:
np.transpose(a)

array([[1, 3, 3],
       [2, 4, 4],
       [3, 1, 5]])

In [49]:
b=np.arange(2,10,2)

In [50]:
b

array([2, 4, 6, 8])

In [53]:
b.reshape(2,2)

array([[2, 4],
       [6, 8]])

In [54]:
c=np.arange(1,15)

In [55]:
c

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [61]:
d=c.reshape(7,2)

In [62]:
d

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12],
       [13, 14]])

In [63]:
d[0]

array([1, 2])

In [64]:
d[0][1]

2

In [76]:
d[ :,1]

array([ 2,  4,  6,  8, 10, 12, 14])

In [78]:
a=np.arange(1,9).reshape(2,4)

In [79]:
a

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [80]:
b=np.arange(2,10).reshape(2,4)

In [81]:
b

array([[2, 3, 4, 5],
       [6, 7, 8, 9]])

In [82]:
a-b

array([[-1, -1, -1, -1],
       [-1, -1, -1, -1]])

In [83]:
a@b

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 2 is different from 4)

In [84]:
a.min()

1

In [85]:
a.mean(),b.max()

(4.5, 9)

In [97]:
np.random.choice(d)

ValueError: a must be 1-dimensional

In [106]:
w="i am"
b="body"
np.char.add(w,b)

array('i ambody', dtype='<U8')

In [3]:
import pandas as pd

In [110]:
a=pd.DataFrame(2,454,566,5)

TypeError: Cannot interpret '5' as a data type

In [22]:
df=pd.read_csv("Iris.csv",index_col=["Id"])

In [126]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [127]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     149.000000    149.000000     149.000000    149.000000
mean    75.500000       5.848993      3.047651       3.772483      1.206040
std     43.445368       0.827943      0.428004       1.762211      0.760354
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.400000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [128]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [138]:
df.isnull(0)

TypeError: DataFrame.isnull() takes 1 positional argument but 2 were given

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  149 non-null    float64
 2   SepalWidthCm   149 non-null    float64
 3   PetalLengthCm  149 non-null    float64
 4   PetalWidthCm   149 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

      0
3435  1
2323  2
55    3

In [5]:
df.isnull().sum()

Id               0
SepalLengthCm    1
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     1
Species          0
dtype: int64

In [9]:
df.fillna(0,index=True)

TypeError: DataFrame.fillna() got an unexpected keyword argument 'index'

In [10]:
df.fillna(0)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [11]:
df.isnull().sum()

Id               0
SepalLengthCm    1
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     1
Species          0
dtype: int64

In [13]:
df["SepalLengthCm"].fillna(value=df["SepalLengthCm"].mean(),inplace=True)

In [14]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     1
Species          0
dtype: int64

In [15]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [16]:
df.count(5.9)

ValueError: No axis named 5.9 for object type DataFrame

In [17]:
df.replace(to_replace=5.9, value=6)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,6.0,3.0,5.1,1.8,Iris-virginica

In [18]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [23]:
df.loc[1]

SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 1, dtype: object

In [24]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [11]:
df.isnull().sum()

Id               0
SepalLengthCm    1
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     1
Species          0
dtype: int64

In [25]:
df.loc[df["SepalLengthCm"]<6]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
114            5.7           2.5            5.0           2.0  Iris-virginica
115            5.8           2.8            5.1           2.4  Iris-virginica
122            5.6           2.8            4.9           2.0  Iris-virginica
143            5.8           2.7            5.1           1.9  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[82 rows x 5 columns]

In [30]:
df.loc[:5]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [33]:
mf=df.groupby(by="Species")

In [39]:
for groups in mf:
    print(groups)

('Iris-setosa',     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa
6             5.4           3.9            1.7           0.4  Iris-setosa
7             4.6           3.4            1.4           0.3  Iris-setosa
8             NaN           3.4            1.5           0.2  Iris-setosa
9             4.4           2.9            1.4           0.2  Iris-setosa
10            4.9           3.1            1.5           0.1  Iris-setosa
11            5.4           3.7            1.5           0.2  Iris-setosa
12            4.8           3.4            1.6           0.2  Iris-setosa
13            4.8           3.0            1.4           0.1  Iris-setosa
14            4.3           3.0            1.1           NaN  Iris-setosa
15            5.8           NaN            1.2           0.2  Iris-setosa
16            5.7           4.4            1.5           0.4  Iris-setosa
17            5.4           3.9            1.3           0.4  Iris-setosa
18            5.1           3.5            1.4           0.3  Iris-setosa
19            5.7           3.8            NaN           0.3  Iris-setosa
20            5.1           3.8            1.5           0.3  Iris-setosa
21            5.4           3.4            1.7           0.2  Iris-setosa
22            5.1           3.7            1.5           0.4  Iris-setosa
23            4.6           3.6            1.0           0.2  Iris-setosa
24            5.1           3.3            1.7           0.5  Iris-setosa
25            4.8           3.4            1.9           0.2  Iris-setosa
26            5.0           3.0            1.6           0.2  Iris-setosa
27            5.0           3.4            1.6           0.4  Iris-setosa
28            5.2           3.5            1.5           0.2  Iris-setosa
29            5.2           3.4            1.4           0.2  Iris-setosa
30            4.7           3.2            1.6           0.2  Iris-setosa
31            4.8           3.1            1.6           0.2  Iris-setosa
32            5.4           3.4            1.5           0.4  Iris-setosa
33            5.2           4.1            1.5           0.1  Iris-setosa
34            5.5           4.2            1.4           0.2  Iris-setosa
35            4.9           3.1            1.5           0.1  Iris-setosa
36            5.0           3.2            1.2           0.2  Iris-setosa
37            5.5           3.5            1.3           0.2  Iris-setosa
38            4.9           3.1            1.5           0.1  Iris-setosa
39            4.4           3.0            1.3           0.2  Iris-setosa
40            5.1           3.4            1.5           0.2  Iris-setosa
41            5.0           3.5            1.3           0.3  Iris-setosa
42            4.5           2.3            1.3           0.3  Iris-setosa
43            4.4           3.2            1.3           0.2  Iris-setosa
44            5.0           3.5            1.6           0.6  Iris-setosa
45            5.1           3.8            1.9           0.4  Iris-setosa
46            4.8           3.0            1.4           0.3  Iris-setosa
47            5.1           3.8            1.6           0.2  Iris-setosa
48            4.6           3.2            1.4           0.2  Iris-setosa
49            5.3           3.7            1.5           0.2  Iris-setosa
50            5.0           3.3            1.4           0.2  Iris-setosa)
('Iris-versicolor',      SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
Id
51             7.0           3.2            4.7           1.4  Iris-versicolor
52             6.4           3.2            4.5           1.5  Iris-versicolor
53             6.9           3.1            4.9           1.5  Iris-versicolor
54             5.5           2.3            4.0           1.3  Iris-versicolor
55             6.5           2.8            4.6           1.5  Iris-versicolor
56             5.7           2.8            4.5           1.3  Iris-versicolor
57             6.3           3.3            4.7           1.6  Iris-versicolor
58             4.9           2.4            3.3           1.0  Iris-versicolor
59             6.6           2.9            4.6           1.3  Iris-versicolor
60             5.2           2.7            3.9           1.4  Iris-versicolor
61             5.0           2.0            3.5           1.0  Iris-versicolor
62             5.9           3.0            4.2           1.5  Iris-versicolor
63             6.0           2.2            4.0           1.0  Iris-versicolor
64             6.1           2.9            4.7           1.4  Iris-versicolor
65             5.6           2.9            3.6           1.3  Iris-versicolor
66             6.7           3.1            4.4           1.4  Iris-versicolor
67             5.6           3.0            4.5           1.5  Iris-versicolor
68             5.8           2.7            4.1           1.0  Iris-versicolor
69             6.2           2.2            4.5           1.5  Iris-versicolor
70             5.6           2.5            3.9           1.1  Iris-versicolor
71             5.9           3.2            4.8           1.8  Iris-versicolor
72             6.1           2.8            4.0           1.3  Iris-versicolor
73             6.3           2.5            4.9           1.5  Iris-versicolor
74             6.1           2.8            4.7           1.2  Iris-versicolor
75             6.4           2.9            4.3           1.3  Iris-versicolor
76             6.6           3.0            4.4           1.4  Iris-versicolor
77             6.8           2.8            4.8           1.4  Iris-versicolor
78             6.7           3.0            5.0           1.7  Iris-versicolor
79             6.0           2.9            4.5           1.5  Iris-versicolor
80             5.7           2.6            3.5           1.0  Iris-versicolor
81             5.5           2.4            3.8           1.1  Iris-versicolor
82             5.5           2.4            3.7           1.0  Iris-versicolor
83             5.8           2.7            3.9           1.2  Iris-versicolor
84             6.0           2.7            5.1           1.6  Iris-versicolor
85             5.4           3.0            4.5           1.5  Iris-versicolor
86             6.0           3.4            4.5           1.6  Iris-versicolor
87             6.7           3.1            4.7           1.5  Iris-versicolor
88             6.3           2.3            4.4           1.3  Iris-versicolor
89             5.6           3.0            4.1           1.3  Iris-versicolor
90             5.5           2.5            4.0           1.3  Iris-versicolor
91             5.5           2.6            4.4           1.2  Iris-versicolor
92             6.1           3.0            4.6           1.4  Iris-versicolor
93             5.8           2.6            4.0           1.2  Iris-versicolor
94             5.0           2.3            3.3           1.0  Iris-versicolor
95             5.6           2.7            4.2           1.3  Iris-versicolor
96             5.7           3.0            4.2           1.2  Iris-versicolor
97             5.7           2.9            4.2           1.3  Iris-versicolor
98             6.2           2.9            4.3           1.3  Iris-versicolor
99             5.1           2.5            3.0           1.1  Iris-versicolor
100            5.7           2.8            4.1           1.3  Iris-versicolor)
('Iris-virginica',      SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
101            6.3           3.3            6.0           2.5  Iris-virginica
102            5.8           2.7            5.1           1.9  Iris-virginica
103            7.1           3.0            5.9           2.1  Iris-virginica
104            6.3           2.9            5.6           1.8  Iris-virginica
105            6.5           3.0            5.8           2.2  Iris-virginica
106            7.6           3.0            6.6           2.1  Iris-virginica
107            4.9           2.5            4.5           1.7  Iris-virginica
108            7.3           2.9            6.3           1.8  Iris-virginica
109            6.7           2.5            5.8           1.8  Iris-virginica
110            7.2           3.6            6.1           2.5  Iris-virginica
111            6.5           3.2            5.1           2.0  Iris-virginica
112            6.4           2.7            5.3           1.9  Iris-virginica
113            6.8           3.0            5.5           2.1  Iris-virginica
114            5.7           2.5            5.0           2.0  Iris-virginica
115            5.8           2.8            5.1           2.4  Iris-virginica
116            6.4           3.2            5.3           2.3  Iris-virginica
117            6.5           3.0            5.5           1.8  Iris-virginica
118            7.7           3.8            6.7           2.2  Iris-virginica
119            7.7           2.6            6.9           2.3  Iris-virginica
120            6.0           2.2            5.0           1.5  Iris-virginica
121            6.9           3.2            5.7           2.3  Iris-virginica
122            5.6           2.8            4.9           2.0  Iris-virginica
123            7.7           2.8            6.7           2.0  Iris-virginica
124            6.3           2.7            4.9           1.8  Iris-virginica
125            6.7           3.3            5.7           2.1  Iris-virginica
126            7.2           3.2            6.0           1.8  Iris-virginica
127            6.2           2.8            4.8           1.8  Iris-virginica
128            6.1           3.0            4.9           1.8  Iris-virginica
129            6.4           2.8            5.6           2.1  Iris-virginica
130            7.2           3.0            5.8           1.6  Iris-virginica
131            7.4           2.8            6.1           1.9  Iris-virginica
132            7.9           3.8            6.4           2.0  Iris-virginica
133            6.4           2.8            5.6           2.2  Iris-virginica
134            6.3           2.8            5.1           1.5  Iris-virginica
135            6.1           2.6            5.6           1.4  Iris-virginica
136            7.7           3.0            6.1           2.3  Iris-virginica
137            6.3           3.4            5.6           2.4  Iris-virginica
138            6.4           3.1            5.5           1.8  Iris-virginica
139            6.0           3.0            4.8           1.8  Iris-virginica
140            6.9           3.1            5.4           2.1  Iris-virginica
141            6.7           3.1            5.6           2.4  Iris-virginica
142            6.9           3.1            5.1           2.3  Iris-virginica
143            5.8           2.7            5.1           1.9  Iris-virginica
144            6.8           3.2            5.9           2.3  Iris-virginica
145            6.7           3.3            5.7           2.5  Iris-virginica
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica)

In [41]:
Species_group

NameError: name 'Species_group' is not defined

In [49]:
a1=pd.DataFrame({"first":[1,3,4,4],"second":[3,5,1,3]})

In [46]:
a2=pd.DataFrame({"first":[10,3,4,4],"second":[10,5,1,3]})

In [50]:
a1.append(a2)

AttributeError: 'DataFrame' object has no attribute 'append'

In [51]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [54]:
pt=pd.pivot_table(df,index="Species",aggfunc="sum")

In [55]:
pt

                 PetalLengthCm  PetalWidthCm  SepalLengthCm  SepalWidthCm
Species
Iris-setosa               71.5          12.1          245.3         166.9
Iris-versicolor          213.0          66.3          296.8         138.5
Iris-virginica           277.6         101.3          329.4         148.7